{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form)}}
    {{ form_rest(form)}}
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary">Valider</button>
        <a href="{{path('user_index')}}" class="btn btn-primary">Retourner à la liste</a>
    </div>
    {{ form_end(form)}}
{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {

            const region = document.querySelector('#user_region');

            region.addEventListener('change', function() {
                const form = this.closest('form');
                const data = this.name + "=" + this.value;

                fetch(form.getAttribute('action'), {
                    method: form.getAttribute('method'),
                    body: data,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'charset': 'utf-8'
                    }
                })
                .then(response => response.text())
                .then(html => {
                    // console.log(html);
                    const content  = document.createElement('html');
                    content.innerHTML = html;
                    const newSelect = content.querySelector('#user_departement');
                    document.querySelector('#user_departement').replaceWith(newSelect);
                })
                .catch(error=>console.logt(error))
                
                ;
            });

        }
    </script>
{% endblock %}